<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <%- include('common/head.ejs', {
    title: `${title} - ${config.title}`,
    description: title,
  }) %>
</head>

<body>
  <%- include('common/header.ejs', { reverse: true, config }) %>
  <article>
    <h1><%= title %> </h1>
    <time><%= createTime %></time>
    <%- content %>
  </article>
  <%- include('common/footer.ejs') %>
</body>

</html>
