<style>
  @font-face {
    font-family: title_font;
    src: url(<%= config.public_path %>/<%= titleFontPath %>);
  }

  .page-header {
    max-width: var(--content-max-width);
    margin: 40px auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  .page-header_title {
    flex: 1;
    min-width: 0;
    font-size: 64px;
    font-family: title_font;
    margin: 0;
  }

  .page-header_title  {
    color: var(--normal-color);
  }

  .page-header_title > a {
    color: inherit;
    text-decoration: none;
  }

  .page-header_icon {
    display: block;
    margin-left: 16px;
    user-select: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
</style>

<header class="page-header">
  <% if (reverse) { %>
    <h2 class="page-header_title">
      <a href="<%= config.public_path %>/"><%= config.title %></a>
    </h2>
  <% } else { %>
    <h1 class="page-header_title">
      <a href="<%= config.public_path %>/"><%= config.title %></a>
    </h1>
  <% } %>
  <a href="<%= config.public_path %>/rss.xml">
    <img class="page-header_icon" src="/rss.png" alt="rss" />
  </a>
  <a href="<%= config.github_repository %>">
    <img class="page-header_icon" src="/github.png" alt="github" />
  </a>
</header>
