<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <%- include('common/head.ejs') %>
  <%- include('common/global_style.ejs') %>

  <meta name="description" content="<%= title %>" />
  <meta property="og:description" content="<%= title %>" />
  <title><%= title %> - <%= config.title %></title>
</head>

<body class="light-theme">
  <%- include('common/header.ejs', { reverse: true }) %>
  <article>
    <h1><%= title %> </h1>
    <time><%= createTime %></time>
    <%- content %>
  </article>
  <%- include('common/footer.ejs') %>
</body>

</html>
