<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <%- include('common/head.ejs') %>
  <%- include('common/global_style.ejs') %>

  <title><%= config.title %></title>
  <meta name="description" content="<%= config.description %>" />

  <link rel="preload" href="/<%= allArticleTitleFontPath %>" as="font" crossOrigin="anonymous" />
  <style>
    @font-face {
      font-family: article_title;
      src: url(/<%= allArticleTitleFontPath %>);
    }

    .article-list {
      max-inline-size: var(--content-max-width);
      margin-block: 40px;
      margin-inline: auto;
      padding-inline: 30px;
    }
    .article-item {
      list-style: none;
      display: block;
      margin-block: 15px;
    }
    .article-title {
      display: inline;
      font-weight: normal;
      margin-block-start: 10px;
      padding: 0;
      color: var(--primary-color);
      font-size: 18px;
      font-family: article_title;
    }
    .article-title > a {
      text-decoration: none;
      color: inherit;
    }
    .article-title > a:hover {
      text-decoration: underline;
    }
    .article-time {
      display: inline-block;
      font-size: 12px;
      font-family: common_font;
      color: var(--secondary-color);
    }
  </style>
</head>

<body>
  <%- include('common/header.ejs', { reverse: false }) %>
  <ul class="article-list">
    <% articleList.forEach(article => { %>
      <li class="article-item">
        <h2 class="article-title">
          <a href="/<%= article.id %>"><%= article.title %></a>
        </h2>
        <% if (article.publishTime) { %>
          <time class="article-time"><%= article.publishTime %></time>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <%- include('common/footer.ejs') %>
</body>

</html>
