<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <%- include('../common/head.ejs') %>
  <%- include('../common/global_style.ejs') %>

  <title><%= title %> - <%= config.title %></title>
  <meta name="description" content="<%= description %>..." />
  <meta property="og:description" content="<%= description %>..." />

  <link rel="preload" href="<%= config.public_path %>/<%= articleContentFontPath %>" as="font" crossOrigin="anonymous" />
  <style>
    @font-face {
      font-family: article_font_<%= id %>;
      src: url(<%= config.public_path %>/<%= articleContentFontPath %>);
    }
    article {
      font-family: article_font_<%= id %>;
    }
  </style>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@5.2.0/distr/fira_code.min.css" />
  <link rel="stylesheet" href="/prism.css" />
</head>

<body>
  <%- include('../common/header.ejs', { reverse: true }) %>
  <article>
    <%- include('./article_header.ejs') %>
    <%- include('./article_content.ejs') %>
    <%- updates.length ? include('./article_updates.ejs') : null %>
  </article>
  <%- include('./article_action.ejs') %>
  <%- include('../common/footer.ejs') %>

  <script src="/prism.js"></script>
</body>

</html>
